<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{% endblock %} MagicMirrorApp</title>
<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap" rel="stylesheet">

<style>
	body{
		
		background-color: #22272e;
		font-family: 'Dosis', sans-serif;
		font-variant: small-caps;
		text-align: center;
	}

	img{
		display: block;
		margin-left: auto;
  		margin-right: auto;
		width: 40%;
	}

	span{
		-webkit-text-stroke-width: 0.3vw;
		-webkit-text-stroke-color: black;
		text-align: center;
		color: #64b5f6;
		font-size: 10vw;

	}

	a{
		text-decoration: none;
		color:#d32f2f;
		font-size: 60px;
		padding: 30px;
	}
	
	a:hover{
		color: #ef5350;
	}



</style>
<body>
	<div class=main>
		<img  src="https://image.flaticon.com/icons/png/512/1686/1686011.png" alt="icon"/>
		<span>MagicMirror</span>
	</div>

	<div class=signs>

		<a href="{{ url_for("login")}}">Log In</a>
		<a href="{{ url_for("signup")}}">Sign Up</a>
	</div>
</body>


